@import "tailwindcss";

@theme {
    --color-bg: #362b28ff;
    --color-surface: #594744ff;
    --color-tertiary: #a36d62ff;
    --color-accent: #e8ac84ff;
    --color-text: #f7f4f2ff;
    --color-modal-bg: rgba(0, 0, 0, 0.2);
    --color-bg-list: #3d302c;
}

html {
    background-color: #362b28ff;
    font-family: monospace;
}

.difficulty-Easy {
    color: green;
}

.difficulty-Medium {
    color: orange;
}

.difficulty-Hard {
    color: red;
}

a:hover,
button:hover {
    background-color: var(--color-accent);
    color: var(--color-bg);
}
